* {
    box-sizing: border-box;
    
}

/* Estilos para pantallas grandes */
@media  (min-width: 768px) {
    /* Tus estilos para pantallas grandes aquí */
  }
  
  /* Estilos para pantallas pequeñas */
@media  (max-width: 767px) {
    * {
        flex-direction: column;
        
    }
  }
  
  :root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
  }

body {
   
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.todo {
    display: grid;
    grid-template-columns: 0.6fr 4fr;

}

.header-nav {
    display: flex;
    justify-content: start;
    background: var(--clr-main);
    justify-content: space-between;  
    color: var(--clr-white);
}

.navbar {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

}

.buscar {
    position: relative;
    
}

.buscar input {
    padding: 10px;
    width: 80vh;
    border-radius: 15px 15px 15px 15px;
    text-align: start;
}

.buscar button {
    width: 45px;
    height: 40px;
    background-color: var(--clr-red);
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    border: 0;
    bottom: 0;
    border-radius: 0 15px 15px 0;
    color: #fff;
    cursor: pointer; 
}

.buscar button:hover {
    background-color: rgb(195, 87, 90);
    
}

.logo {
    display: flex;
    position: relative;
}

.logo span {
    justify-content: center;
    align-items: center;
    padding: 15px ;
    font-size: 35px;
    font-family: "Latin Modern Roman";
    font-style: italic;
    color: rgb(251, 251, 251);
}

.img-donut {
    height: 4rem;
    width: 4rem;
    background-color: transparent;
    position: relative;

}

.container xl {
    height: 100vh;
    background: var(--clr-main);
    display: flex;
    flex-direction: column;
    padding-right: 0;
    position: sticky;
    min-width: 45px;
    border: 0;
    color: var(--clr-white);
    justify-content: space-between;
    margin: 100px 0 0 0;
    
    
    

}

ul {
    padding: 0;
    margin: 0;
}

.btn-menu:hover {
    background-color: var(--clr-white);
    color: var(--clr-main);

}

.btn-menu{
    list-style-type: none;
    margin-top: 25px;
    margin-left: 10px;
    padding-right: 0;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 1rem 1rem;
    
    border-radius: 15px 0 0 15px;
    

}

.btn-menu a {
    text-decoration: none;
    color: var(--clr-white);

}

.btn-menu a:hover {
    color: var(--clr-main);
    padding: 0;
    
}


.btn-menu i {
    margin-right: 10px;
}

@
