:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
  }

  .container_editar_ing {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 3rem 0 0 2rem;
    height: 88vh;
    margin: 0 15px 0 0;
  }

  .ti_editar_ing {
    font-size: 3rem;
  }

  button {
    margin:  0 0 0 30rem;
    font-size: 15px;
    background-color: rgb(10, 220, 10);
  }

  .container_editar_ing form{
    gap: 15px;
    padding: 30px 0 0 90px;
    background-color: var(--clr-main-light);
    color: var(--clr-white);
    width: 60%;
    height: 20em;
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }