:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
  }

  .container-mostrar-prov {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 3rem 0 0 2rem;
    height: 88vh;
    margin: 0 15px 0 0;
    
  }
  .titulo-mos-prov{
    font-size: 50px;
  }

  .encabezado-prov{
    font-size: 30px;
  }

  .contenedorProv {
    background-color: rgba(96, 239, 191, 0.684);
    height: 70%;
    width: 30rem;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba( 0, 0, 0, 0.3);
    text-align: center;
    padding-left: 30px;


  }

  .contenedorProv a {
    text-decoration: none;
  }