:root {
    --clr-main: #4b33a8;
    --clr-main-light: #785ce9;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
  }

  .container-mos-ing {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 3rem 0 0 2rem;
    height: 88vh;
    margin: 0 15px 0 0;
    
}

.contenedorHead {
  
}

.titulo-mos-ing{
    font-size: 50px;
    margin: 0;
    padding: 0;
    
}

.contenedor-mostrar-ing {
    gap: 15px;
    padding: 15px;
    background-color: rgba(96, 239, 191, 0.684);
    width: 60%;
    height: 20em;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    
}

.contenedor-mostrar-ing a {
    text-decoration: none;
}

