{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% block extrahead %}{% endblock %}
    <nav><div id="hola"></div></nav>
</head>
<body>
    
    <header class="header-nav">
        <nav class="navbar">
            <div class="logo">
                <img class="img-donut" src="#">
                <span>Bella Vista</span>
            </div>
            <div class="buscar">
                <input type="text" placeholder="Buscar...">
                <button><i class='bx bx-search-alt'></i></button>
            </div>
        </nav>
    </header>

    <div class="todo">
    <div class="container">
        <ul>
            <li class="li-a">
                <i class='bx bxs-component'></i>
                <a href="{% url 'mostrar_prod' %}">Productos</a></i>
            </li>

            <li class="li-a">
                <i class='bx bxs-basket' ></i><a href="{% url 'mostrar_ing' %}">Ingredientes</a></li>
            <li class="li-a">
                <i class='bx bxs-store' ></i><a href="{% url 'mostrar_prov' %}">Proveedores</a></li>
        </ul>
    </div>
    
    {% block content %}

    {% endblock %}

    </div>
</body>
</html>