{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/crear_prov.css' %}">
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <div>
        <div class="container_prov">
            <div class="titulo_reg_prov">Registro de nuevo proveedor</div>

            <div class="agregar_prov">

                <label for="{{ formulario.nombre.id_for_label }}">Nombre: </label>
                <input type="text" name="nombre" id="{{ formulario.nombre.id_for_label }}" />

                <label for="{{ formulario.direccion.id_for_label }}">Dirección: </label>
                <input type="text" name="direccion" id="{{ formulario.direccion.id_for_label }}" />

                <label for="{{ formulario.telefono_ofi.id_for_label }}">Telefono de oficina: </label>
                <input type="text" name="telefono_ofi" id="{{ formulario.telefono_ofi.id_for_label }}" />

                <label for="{{ formulario.correo_ofi.id_for_label }}">Correo: </label>
                <input type="text" name="correo_ofi" id="{{ formulario.correo_ofi.id_for_label }}" />

                <label for="{{ formulario.horario_atencion.id_for_label }}">Horario de atención: </label>
                <input type="text" name="horario_atencion" id="{{ formulario.horario_atencion.id_for_label }}" />

                <label for="{{ formulario.nombre_contacto.id_for_label }}">Nombre de contacto: </label>
                <input type="text" name="nombre_contacto" id="{{ formulario.nombre_contacto.id_for_label }}" />

                <label for="{{ formulario.telefono_contacto.id_for_label }}">Telefono de contacto: </label>
                <input type="text" name="telefono_contacto" id="{{ formulario.telefono_contacto.id_for_label }}" />

                <label for="{{ formulario.correo_contacto.id_for_label }}">Correo de contacto: </label>
                <input type="text" name="correo_contacto" id="{{ formulario.correo_contacto.id_for_label }}" />


            </div>
            <button class="btn_agregar_prov" type="submit">Guardar</button>
        </div>
    </div>
</form>

{% endblock %}