{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mostrar_ing.css' %}">
{% endblock %}
{% block content %}
<div class="container-mos-ing">
<h1 class="titulo-mos-ing">Ingredientes</h1>
<a class="btn-agregar-ing" href="/crear_ing">Agregar</a>

    <table class="contenedor-mostrar-ing">
        <thead class="contenedorHead">
            <tr>
                <td>Nombre</td>
                <td>Presentacion</td>
                <td>Unidad Receta</td>
                <td>Detalle</td>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ ingrediente.nombre }}</td>
                <td>{{ ingrediente.presentacion }}</td>
                <td>{{ ingrediente.unidad_receta }}</td>
                <td>
                    <a href="/editar_ing/{{ ingrediente.id }}">Detalle</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}