{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mostrar_prod.css' %}">
{% endblock %}

{% block content %}
<main>
    <h2 class="todo-productos">productos</h2>
    <div class="contenedor-prod">
        <div class="productos">
            <img src="" alt="">
            <button class="detalles-btn">Detalles</button>
        </div>
        <div class="productos">
            <img src="" alt="">
            <button class="detalles-btn">Detalles</button>
        </div>
        <div class="productos">
            <img src="" alt="">
            <button class="detalles-btn">Detalles</button>
        </div>
        <div class="productos">
            <img src="" alt="">
            <button class="detalles-btn">Detalles</button>
        </div>
        <div class="productos">
            <img src="" alt="">
            <button class="detalles-btn">Detalles</button>
        </div>
        <div class="productos">
            <img src="" alt="">
            <button class="detalles-btn">Detalles</button>
        </div>
    </div>
</main>
{% endblock %}