{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mostrar_prod.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="filtro">
        <i class='bx bx-filter-alt'></i>
        <select name="tipo_toda" id="{{tipo_dona }}">
            <option value="">Todo</option>
            <option value="">Rellenas </option>
            <option value="">Clasicas </option>
        </select>

        <button>Activo</button>
        <button>Inactivo</button>
        <button>Todo</button>
        <a class="btn-agregar" href="/crear_prod">Agregar</a>
    </div>

    <h2 class="titulo-prod">Productos</h2>
    <div class="contenedor-prod">

        {% for producto in productos %}
        <div class="producto">
            <a href="{% url 'editar_prod' producto_id=producto.id %}">
                <button>
                    {% if producto.imagen %}
                    <img class="producto-imagen" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    {% else %}
                    <img class="producto-imagen" src="{% static 'images/image_not_available.png' %}">
                    {% endif %}
                    <div class="producto-detalles">
                        <h3 class="nombre-prod">Código: {{ producto.codigo }}</h3>
                        <h3 class="nombre-prod">Producto: {{ producto.nombre }}</h3>
                </button>
            </a>
        </div>
        {% endfor %}

    </div>

</main>
{% endblock %}