{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mostrar_prod.css' %}">
{% endblock %}

{% block content %}
        <main>
             <h2 class="titulo-prod">Productos</h2>
            <div class="contenedor-prod">
               
                <div class="producto">
                    <button>
                    <img src="" alt="">
                    <div class="producto-detalles">
                        <h3 class="nombre-prod">Aqui van los nombre de las donas</h3>
                    </button>
                    </div>
                <div class="producto">
                    <button>
                    <img src="" alt="">
                    <div class="producto-detalles">
                        <h3 class="nombre-prod">Aqui van los nombre de las donas</h3>
                    </button>
                    </div>
                <div  class="producto">
                    <button>
                    <img src="" alt="">
                    <div class="producto-detalles">
                        <h3 class="nombre-prod">Aqui van los nombre de las donas</h3>
                    </button>
                    </div>
                <div  class="producto">
                    <button>
                    <img src="" alt="">
                    <div class="producto-detalles">
                        <h3 class="nombre-prod">Aqui van los nombre de las donas</h3>
                    </button>
                 </div>
                 <div  class="producto">
                    <button>
                    <img src="" alt="">
                    <div class="producto-detalles">
                        <h3 class="nombre-prod">Aqui van los nombre de las donas</h3>
                    </button>
                 </div>

            </div>
               
            </div>
        </main>
{% endblock %}